* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: hsl(30, 38%, 92%);
  line-height: 1;
  display: grid;
  align-items: center;
  min-height: 100vh;
}

.product-section {
  max-width: 500px;
  margin: 0 auto;
  padding: 1.3rem;
}


p {
  color: hsl(228, 12%, 48%);
  font-size: 14px;
}

.old-price {
  text-decoration: line-through;
  margin-left: 1.7rem;
}

.product-info {
  background-color: #fff;
  padding: 1.8rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.product {
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.4rem;
}

.pricing {
  display: flex;
  margin-top: 2.4rem;
  align-items: center;
}

.product-info h1 {
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
}

.image-container img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  display: block;
  
}

.new-price {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  font-size: 2.5rem;
}

.btn {
  border: 0;
  background: hsl(158, 36%, 37%);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
  font-family: inherit;
  margin-top: 1.7rem;
}

.btn:hover {
  background-color: #306652;
}

.cart-img {
  margin-right: 0.5rem;
}

p:nth-child(3) {
  margin-top: 1.3rem;
  line-height: 1.7;
}

@media(min-width: 680px) {
  .product-section {
    display: flex;
    max-width: 670px;
  }

    .image-container img {
      height: 100%;
      width: 300px;
      border-radius: 0.5rem 0 0 0.5rem;
  }

  .product-info{
      border-radius: 0 0.5rem 0.5rem 0;
  }
}


