* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: hsl(30, 38%, 92%);
  line-height: 1;
  display: grid;
  align-items: center;
  min-height: 100vh;
}

.hero-section {
  max-width: 500px;
  margin: 0 auto;
  padding: 1.4rem;
}

p {
  color: hsl(228, 12%, 48%);
  font-size: 14px;
}

.old-price {
  text-decoration: line-through;
  margin-left: 1.7rem;
}

.perfume-info {
  background-color: #fff;
  padding: 1.9rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.perfume {
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.4rem;
}

.pricing {
  display: flex;
  margin-top: 2.2rem;
  align-items: center;
}

.perfume-info h1 {
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
}

.image-container img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.new-price {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  font-size: 2.5rem;
}

.btn {
  border: 0;
  background: hsl(158, 36%, 37%);
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  width: 100%;
  font-weight: 700;
  font-family: inherit;
  margin-top: 1.5rem;
}

.btn:hover {
  color: #ccc;
}

.cart-img {
  margin-right: 0.5rem;
}

p:nth-child(3) {
  margin-top: 1.3rem;
  line-height: 1.7;
}

@media(min-width: 670px) {
  .hero-section {
    display: flex;
    max-width: 640px;
  }

    .image-container img {
      height: 100%;
      width: 280px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
  }

  .perfume-info{
      border-top-right-radius: 0.5rem;
  }
}





